@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

h1, h2, h3{
  font-family: 'Jost', sans-serif;
  letter-spacing: 0.03em;
  font-weight: 500;
}

p, span, li {
  font-family: 'DM Sans', sans-serif;
  
}

#app {
  margin: 0 auto;
  padding: 0rem 1rem 0rem 1rem;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  background-color: transparent;
  -webkit-appearance: none;
}

/* Track styling */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 15px;
  border: 1px solid #dcdcdc;
}

/* Handle styling */
::-webkit-scrollbar-thumb {
  background: var(--alainblue);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  background-clip: content-box;
}

/* Handle hover state */
::-webkit-scrollbar-thumb:hover {
  background: var(--alainblue-dark-20);
  border-color: #f1f1f1;
}
